#root {
  font-size: 18px;
  border: 1px solid red;
}
.container {
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
button {
  height: 4rem;
  background: none;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}
button:focus {
  outline: none;
}
.calculator {
  width: 300px;
}
.calc-display {
  font-size: 30px;
  padding: 20px;
  text-align: right;
  background-color: #2C3E50;
  border-bottom: 1px solid red;
  color: white;
}
.col-9 {
  padding-right: 0;
}
.col-3 {
  padding-left: 0;
}
.calc-numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  float: left;
}
.calc-numbers button {
  font-size: 30px;
  width: 70px;
}
.calc-functions button {
  width: 100%;
  box-shadow: none;
}
.calc-operations button {
  background-color: #F7DC6F;
  width: 100%;
  font-size: 30px;
}
@media only screen and (min-width: 768px) {
  #root {
    font-size: 24px;
  }
}